body {
    display: block;
    /* color: white; */
    /* background-color: black; */
}

#gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 336px;
    height: 336px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.player {
}

.board {
    /* background-color: aquamarine; */
    border: solid 1px black;
    display: flex;
    height: 110px;
    width: 110px;
    justify-content: center;
    align-items: center;
}

#winner {
}